.settings-button-container {
    position: relative;

    .toolbox-icon {
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;

        &.disabled, .disabled & {
            cursor: initial;
            color: #64748B;
            background-color: #334155;

            &:hover {
                background-color: #334155;
            }
        }
    }
}

.settings-button-small-icon {
    background: #334155;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer;
    padding: 1px;
    position: absolute;
    right: -4px;
    top: -3px;

    &:hover {
        background: #E2E8F0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

        & svg {
            fill: #0F172A;
        }

        &.settings-button-small-icon--disabled {
            background: #334155;

            & svg {
                fill: #64748B;
            }
        }
    }

    & svg {
        fill: #F8FAFC;
    }

    &--disabled {
        background-color: #334155;
        cursor: default;

        & svg {
            fill: #64748B;
        }
    }
}

.settings-button-small-icon-container {
    position: absolute;
    right: -4px;
    top: -3px;

    & .settings-button-small-icon {
        position: relative;
        top: 0;
        right: 0;
    }
}
